.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    font-size: large;
    margin: 0;
}

.navbar__item {
    flex-basis: 10%;
    list-style-type: none;
}
